<% content_for :title, 'Noticia | Ocelot' %>
		<div class="main-container">
			<header class="page-header">
				<div class="background-image-holder .bg-overlay parallax-background">
					<%= image_tag 'hero5.jpg', :class => "background-image" %>
				</div>					
					<div class="container">
						<div class="row">
							<div class="col-xs-12 alt">
								<h1 class="text-white"><%= @noticia.titulo %></h1>
								<h2 class="sub alt-font text-white fecha" style="font-size:20px"><%= date_convert(@noticia.fecha_creacion) %></h2>
							</div>
						</div><!--end of row-->
					</div><!--end of container-->
			</header>

			<section class="article-single">
				<div class="container">
					<div class="row">

						<div class="col-md-8 col-md-offset-2">
							<div class="article-body">
								<!--
								<p class="lead">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								</p>
								-->
								<figure>
									<center>
										<img src="<%= "#{$web_intra_path}/#{@noticia.imgNoticia}" %>"></img>
									</center>
									<!--<figcaption>Descripcion de la foto</figcaption>-->
								</figure>
								<p>
									<%= @noticia.descripcion %>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<script>
			$(document).ready(function(){
			    $(".fecha").html();
			   
			});
			function formato_fecha(d) {
			    return d.substring(8, 10) + "/" + d.substring(5, 7) + "/" + d.substring(0, 4);
			}
			
			
		</script>